- if user_signed_in?
  %script#home-template{:type => "text/template"}
    This is the home page, and it'll have all the latest shit. Popular topics, links etc.. newest posts.

  :javascript
    $(function() {
      new Findus.Routers.Site();
      Backbone.history.start();
    })
