- if user_signed_in?
  %script#home-template{:type => "text/template"}
    This is the home page, and it'll have all the latest shit. Popular topics, links etc.. newest posts.

  %script#users-index-template{:type => "text/template"}
    %ul
      {[ _.each(users, function(user) { ]}
      %li <a href="#users/fill_this_in">{{ user.get('username') }}</a>
      {[ }); ]}

  %script#categories-show-template{:type => "text/template"}
    %h1 {{name}}
    {{description}}
    %table
      %thead
        %tr
          %th Subject
          %th Author
      %tbody
        {[ _.each(posts, function(post) { ]}
        %tr
          %td
            {{ post.get('subject') }}
          %td
            {{ post.get('username') }}
        {[ }); ]}

  :javascript
    $(function() {
      new Findus.Routers.Site();
      Backbone.history.start();
    })
