- if user_signed_in?
  %script#home-template{:type => "text/template"}
    This is the home page, and it'll have all the latest shit. Popular topics, links etc.. newest posts.

  %script#users-index-template{:type => "text/template"}
    %ul
      {[ _.each(users, function(user) { ]}
      %li <a href="#users/fill_this_in">{{ user.get('username') }}</a>
      {[ }); ]}

  %script#categories-show-template{:type => "text/template"}
    %h1 {{name}}
    %p {{description}}
    %button{:class => 'btn primary', :id => 'new_post'} New post
    #new_post_form{:style => 'display:none'}
      %form
        %div
          %label{:for => 'subject'} Subject
          %input{:type => 'text', :id => 'subject'}
        %div
          %label{:for => 'body'} Body
          %textarea{:id => 'body', :cols => 60, :rows => 10}
        %div
          %button#post.btn.success Post
          %button#cancel.btn.error Cancel
    %table
      %thead
        %tr
          %th Subject
          %th Author
      %tbody
        {[ _.each(posts, function(post) { ]}
        %tr
          %td
            {{ post.get('subject') }}
          %td
            {{ post.get('username') }}
        {[ }); ]}

  :javascript
    $(function() {
      new Findus.Routers.Site();
      Backbone.history.start();
      if (Modernizr.websockets) {
        console.log("websockets available");
      } else {
        console.log("websockets NOT available");
      }
    })
